/midterm
/LAB#8CREATIONALPATTERN/CreationalPattern/nbproject/private/
/LAB#8CREATIONALPATTERN/CreationalPattern/build/
/LAB#8CREATIONALPATTERN/JavaApplication75/nbproject/private/
/LAB#8CREATIONALPATTERN/CREATIIONALPATTERN/nbproject/private/
/LAB#8CREATIONALPATTERN/CREATIONALPATTERN/nbproject/private/
/LAB#8CREATIONALPATTERN/CREATIIONALPATTERN/build/
/LAB#8CREATIONALPATTERN/CREATIONALPATTERN/build/
